name: Update top250 Stats

on:
  schedule:
    - cron: '0 0 * * 1'  # 每周一午夜运行
  workflow_dispatch:      # 支持手动触发

jobs:
  update-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.ACCESS_TOKEN }}
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    
    # - name: Install Chrome
    #   run: |
    #     sudo apt-get update
    #     sudo apt-get install -y chromium-browser
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install beautifulsoup4 requests
    
    - name: Update stats
      env:
          DOUBAN_ID: ${{ secrets.DOUBAN_ID }}
      run: |
        python .github/scripts/update_stats.py
    
    - name: Commit and push if changed
      run: |
        git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        
        # 关键：同时添加 html 和下载好的图片文件夹
        git add index.html posters/
        
        # 只有在有变动时才提交
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update movie archive and posters" && git push origin HEAD:main)
